<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active"><a href="#edit" role="tab" data-toggle="tab"><%- categoryName %></a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="edit">
    <!-- 模板 开始	 -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        院士
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_1" name="form_1">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">人才名称</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- 模板结束 -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增专任教师国家级人才
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_2" name="form_2">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">人才名称</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增专任教师省部级人才
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_3" name="form_3">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">人才名称</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增海外、985高校及国家级科研院所博士生
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_4" name="form_4">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">毕业院校</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增博士后流动站
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_5" name="form_5">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">流动站名称</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增在国际学术组织任职或拥有外国文教专家
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_6" name="form_6">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">任职组织</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增专任教师访学六个月
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_7" name="form_7">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">出访国家、地区</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">出访时间</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增专任教师访学十二个月以上
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_8" name="form_8">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">出访国家、地区</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">出访时间</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary addBtn">增加</button>
          <button type="button" class="btn btn-primary removeBtn">关闭</button>
        </div>
        新增教师赴境外参加国际会议、作口头或主题报告
      </div>
      <div class="panel-body">
        <form class="form-inline" data-type="form_9" name="form_9">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">姓名</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">出国（境）地区</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">报告名称</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">次数</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">分值</div>
              <input type="text" class="form-control" ng-model="item.resultName"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">


    $(function() {
        $('#edit').on('click', '.addBtn', function(ev) {
            var edit = $('#edit')
            var tmp = $(this).parent().parent().parent().clone()
            var form = tmp.find('form')
            var formType = form.data('type')
            var formNumber = $("[data-type=" + formType + "]").length + 1
            form.attr('name', formType + "_" + formNumber)
            edit.append(tmp)
        });

        $('#edit').on('click', '.removeBtn', function(ev) {
            var tmp = $(this).parent().parent().parent()
            var form = tmp.find('form')
            var formType = form.data('type')
            var formNumber = $("[data-type=" + formType + "]").length
            console.log(formNumber)
            if(formNumber >= 2) {
                tmp.remove()
            }
        })
    })

</script>
