<div class="row" id="login" ng-controller="loginCtrl">
  <div class="col-md-4 col-md-offset-4">
    <alerts items="alerts"></alerts>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="text-center">登录</h5>
      </div>
      <div class="panel-body">
        <form role="form" name="login">
          <div class="form-group">
            <label for="account">帐号</label>
            <input type="text" class="form-control" name="account" id="account" placeholder="请输入您的帐号" ng-model="user.account" required>
            <span class="help-block" ng-if="(isSubmited || login.account.$touched) && login.account.$invalid" ng-cloak>帐号不能为空</span>
          </div>
          <div class="form-group">
            <label for="passwd">密码</label>
            <input type="password" class="form-control" name="passwd" id="passwd" placeholder="请输入您的密码" ng-model="user.passwd" required>
            <span class="help-block" ng-if="(isSubmited || login.passwd.$touched) && login.passwd.$invalid" ng-cloak>密码不能为空</span>
          </div>
          <button type="button" class="btn btn-primary" id="loginBtn" ng-click="handleLogin()">登录</button>
        </form>
      </div>
    </div>
  </div>
</div>